.content_error {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 139px;

    @media (max-width: 1280px) {
        gap: 130px;
    }

    @media (max-width: 768px) {
        gap: 110px;
    }

    .title_error {
        font-size: 14rem;
        font-weight: bold;
        color: #d92cf9;
        margin-top: 150px;

        @media (max-width: 1280px) {
            font-size: 10rem;
        }

        @media (max-width: 768px) {
            font-size: 6rem;
            margin-top: 100px;
        }
    }

    .text_error {
        font-size: 2.2rem;
        color: #d92cf9;
        margin: -30px;

        @media (max-width: 1280px) {
            text-align: center;
            font-size: 1.8rem;
        }

        @media (max-width: 768px) {
            font-size: 2rem;

            & .break_text {
                display: flex;
            }
        }
    }

    .link_error {
        font-size: 2.2rem;
        padding: 30px;
        color: white;
        text-decoration: underline;
        text-decoration: none;
        background-color: #d92cf9;
        height: 50px;
        line-height: 5px;
        border-radius: 10px;
        font-weight: 600;
        margin-bottom: 240px;

        @media (max-width: 1280px) {
            font-size: 1.6rem;
        }

        @media (max-width: 768px) {
            font-size: 1.6rem;
            padding: 5px;
            margin-bottom: 65px;
            line-height: 40px;
        }
    }
}
